<div class="flex flex-wrap justify-center items-center my-10 gap-6">
  <!-- Content list -->
  <div *ngFor="let product of products">
    <div
      class="max-w-sm rounded overflow-hidden shadow-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
    >
      <div class="w-full">
        <img src="{{ product.imageUrl }}" [alt]="product.name" />
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ product.name }}</div>
        <p class="text-gray-700 text-base">{{ product.description }}</p>
        <p></p>
        <div class="pt-4 pb-2">
          <!-- routerLink -->
          <p class="inline-block px-3 py-1 text-white rounded-full bg-cyan-800">
            $ {{ product.price }}
          </p>
          <button
            [routerLink]="['/product', product.id]"
            type="button"
            class="inline-block rounded-full mx-2 px-6 py-2.5 bg-green-500 text-white font-medium text-xs uppercase hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out"
          >
            Buy it!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
